@import "~office-ui-fabric-react/dist/sass/References.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.spaceX {
  .container {
    max-width: 100vw;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    background-image: linear-gradient(135deg, #d4ebfa 10%, #899ed8 100%);
  }
}
